*, *:focus, *:active {
	outline: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	trasition: all 0.25s ease-in-out;
}

body, html {
	background-image: url(../../res/images/wallpaper3.jpeg);
	background-repeat: no-repeat;
	width: cover;
	height: cover;
	background-size: cover;
	overflow: hidden;
	z-index: -9999;
}

#toolbar {
	background: rgb(38,38,38);
	width: 100%;
	height: 5vh;
	opacity: 0.75;
}
button {
	height: 5vh;
	width: 8%;
	background: rgba(38,38,38,0);
	color: rgba(180,180,180,1);
	border: hidden !important;
	outline: 0;
	top: -2.2vh;
	font-family: Sans-serif;
	position: relative;
	font-size: 1.8vh;
	font-weight: 100;	
}
button:hover {
	color: rgba(255,255,255,1);	
	cursor: pointer;
}
#logo-heading {
	color: white;
	font-family: Sans-serif;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: rgba(150,150,150,1);
	left: 7vh;
	font-weight: 100;
}
#logo-heading:hover {
	cursor: pointer;
	color: rgb(255,255,255);
}
#toolbar img:hover {
	content: url('../../res/images/Logo-white.png');
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}
#main-content {
	width: 100%;
	height: 100vh;
	top: -2.1vh;
	position: relative;
	overflow-x: hidden;
	background: rgba(38,38,38,1);
	z-index: 9999;
}
#toolbar img {
	width: 4vh;
	height: 4vh;
        position: relative;
        top: -18.5%;
        -webkit-transform: translateY(18.5%);
        -moz-transform: translateY(18.5%);
        -o-transform: translateY(18.5%);
        -ms-transform: translateY(18.5%);
        transform: translateY(18.5%);
        color: rgba(200,200,200,1);
        left: 3vh;
	padding: 0 !important;
	margin-bottom: -4vh !important;
	z-index: 999999999;
}

#os-heading {
	font-family: Sans-Serif;
	font-weight: 100;
	font-size: 4vh;
	position: fixed;
	top: 35%;
	-webkit-transform: translateY(-35%);
	-moz-transform: translateY(-35%);
	-ms-transform: translateY(-35%);
	-o-transform: translateY(-35%);
	transform: translateY(-35%);
	z-index: 999999999;
	color: rgb(255,255,255);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
#os-desc {
	font-family: Sans-Serif;
	font-weight: 100;
	font-size: 2.3vh;
	position: fixed;
	top: 45%;
	-webkit-transform: translateY(-40%);
	-moz-transform: transaletY(-40%);
	-ms-transform: translateY(-40%);
	-o-transform: translateY(-40%);
	transform: translateY(-40%);
	z-index: 999999999;
	color: rgb(255,255,255);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
#os-launch {
	font-family: Sans-Serif;
	font-weight: 100;
	font-size: 2.3vh;
	position: fixed;
	top: 48%;
	-webkit-transform: translateY(-45%);
	-moz-transform: translateY(-45%);
	-o-transform: translateY(-45%);
	-ms-transform: translateY(-45%);
	transform: translateY(-45%);
	z-index: 999999999;
	color: rgb(255,255,255);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
#os-status {
	font-family: Sans-Serif;
	font-weight: 100;
	font-size: 2.3vh;
	position: fixed;
	top: 51%;
	-webkit-transform: translateY(-51%);
	-moz-transform: translateY(-51%);
	-ms-transform: translateY(-51%);
	-o-transform: translateY(-51%);
	transform: translateY(-51%);
	z-index: 999999999;
	color: rgb(255,255,255);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
